body {
    font-family: 'Roboto', sans-serif;
}

.first {
    background-image: url(images/donation6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 15%;
    padding-bottom: 15%;


}

.head {
    font-size: 100px;
    color: rgb(255, 255, 255);
    margin-left: 15%;
    margin-top: 15%;
    text-align: center;
    font-weight: bolder;

}

.body {
    margin-left: 25%;
    margin-right: 10%;
    color: rgb(237, 236, 236);
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    text-shadow: whitesmoke;
}

.link {
    text-align: center;
    margin-left: 50%;
    color: white;
    background-color: rgb(218, 90, 67);
    text-decoration: none;
    font-size: 40px;
    padding: 20px 20px;
    border-radius: 10px;
    font-weight: 900;
}

.Donate-option {
    display: flex;
}

.blue {
    font-size: 100px;
    color: rgb(10, 10, 10);
    margin-left: 1000px;
    font-weight: bold;
    text-shadow: rgb(223, 220, 220);
}

.green {
    margin-left: 850px;
    margin-right: 10%;
    color: rgb(7, 6, 6);
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    text-shadow: rgb(221, 217, 217);

}

.green-one {
    margin-left: 500px;
    margin-right: 10%;
    color: rgb(7, 6, 6);
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    text-shadow: rgb(221, 217, 217);
}

.link-two {
    text-align: center;
    margin-left: 60%;
    color: white;
    background-color: rgb(218, 90, 67);
    text-decoration: none;
    font-size: 40px;
    padding: 20px 20px;
    border-radius: 10px;
    font-weight: 900;
    margin-top: 15px;
}

.box {
    display: flex;
}

.options {
    font-size: 40px;
    margin: 10%;
    background-color: rgb(241, 240, 238);
    padding: 30px 30px;
}

#taka {
    text-align: center;
    margin-left: 35%;
    color: gray;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
}

#gittu {
    display: flex;
    margin-left: 35;
}

.pic-one {
    font-size: 45px;
    margin-left: 100px;
    background-color: rgba(82, 180, 180, 0.372);
    padding: 10px 10px;
    margin-right: 25px;

}

#options {
    border: 10px solid rgb(230, 146, 131);
    font-size: 40px;
    margin: 10%;
    background-color: rgb(241, 240, 238);
    padding: 30px 30px;
}

.pic-two {
    font-size: 45px;
    background-color: rgba(109, 201, 114, 0.358);
    padding: 10px 10px;
    margin-left: 20px;
    margin-right: 20px;
}


.pic-three {
    font-size: 45px;
    background-color: rgba(218, 151, 133, 0.329);
    padding: 10px 10px;
    margin-right: 100px;
    margin-left: 20px;
}

.For-bonus {
    display: flex;
    width: 65%;

}

.words {
    font-size: 25px;
    color: rgb(0, 0, 0);
    margin-left: 5%;
    margin-top: 10%;
    font-weight: bold;

}

.flood {
    margin-top: 10%;
    margin-left: 50%;
    padding: 20% 20%;
}

.link-three {
    margin-left: 20px;
    text-align: center;
    color: white;
    background-color: rgb(218, 90, 67);
    text-decoration: none;
    font-size: 40px;
    padding: 20px 20px;
    border-radius: 10px;
    font-weight: 900;
    margin-top: 15px;
}

.flood-words {
    margin-left: 30%;
    font-size: 30px;
    margin-top: 20%;
}

.flood-img {

    margin-left: 8%;
    margin-top: 55%;


}

.end-game {
    margin-top: 3%;
    margin-left: 5%;
    font-size: 30px;


}

.ciao {
    background-color: rgba(222, 184, 135, 0.226);
    font: 50px;
    height: 50px;
    width: 50px;
    padding: 3% 3%;
    margin-left: 1000px;


}

span {
    text-align: center;
    color: white;
    background-color: rgb(218, 90, 67);
    text-decoration: none;
    font-size: 20px;
    padding: 9px 9px;
    border-radius: 8px;
    font-weight: 900;
    margin-top: 15px;
    margin-left: 0;
}

.end {
    margin-top: 15%;
    font-size: 30px;
    background-color: rgb(0, 0, 0);
    color: rgb(221, 212, 212);
    font-weight: 700;
    width: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}