body {
    font-family: 'Roboto', sans-serif;
}

.first {
    background-image: url(images/donation6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 15%;
    padding-bottom: 15%;


}

.head {
    font-size: 100px;
    color: rgb(210, 203, 203);
    margin-left: 15%;
    margin-top: 15%;
    text-align: center;
    font-weight: bold;
    text-shadow: black;
}

.body {
    margin-left: 25%;
    margin-right: 10%;
    color: rgb(237, 236, 236);
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    text-shadow: whitesmoke;
}

.link {
    text-align: center;
    margin-left: 50%;
    color: white;
    background-color: rgb(218, 90, 67);
    text-decoration: none;
    font-size: 40px;
    padding: 20px 20px;
    border-radius: 10px;
    font-weight: 900;
}

.Donate-option {
    display: flex;
}

.blue {
    font-size: 100px;
    color: rgb(10, 10, 10);
    margin-left: 1000px;
    font-weight: bold;
    text-shadow: rgb(223, 220, 220);
}

.green {
    margin-left: 850px;
    margin-right: 10%;
    color: rgb(7, 6, 6);
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    text-shadow: rgb(221, 217, 217);

}

.link-two {
    text-align: center;
    margin-left: 60%;
    color: white;
    background-color: rgb(218, 90, 67);
    text-decoration: none;
    font-size: 40px;
    padding: 20px 20px;
    border-radius: 10px;
    font-weight: 900;
    margin-top: 15px;
}

.box {
    display: flex;
}

.options {
    font-size: 40px;
    margin: 10%;
    background-color: rgb(241, 240, 238);
    padding: 30px 30px;
}

#taka {
    text-align: center;
    margin-left: 35%;
    color: gray;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
}

#gittu {
    display: flex;
    margin-left: 35;
}

.pic-one {
    font-size: 45px;
    margin-left: 100px;
    background-color: rgb(110, 217, 217);
    padding: 10px 10px;
    margin-right: 25px;
}

.pic-two {
    font-size: 45px;
    background-color: rgb(109, 201, 114);
    padding: 10px 10px;
    margin-left: 20px;
    margin-right: 20px;
}


.pic-three {
    font-size: 45px;
    background-color: rgb(218, 151, 133);
    padding: 10px 10px;
    margin-right: 100px;
    margin-left: 20px;
}